# Practice Quiz

Follow the instructions below before each cell.

In [1]:
# run this cell to load in appropriate libraries.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# supress scientific notation (exponents)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

### Load in the CSV file used for this homework quiz

Run the cell below, you won't have to make any modifications.

In [2]:
df = pd.read_csv("college-enrollment-demographics.csv")

### Look at the top 5 rows of this dataset

In [3]:
df.head()

,UNITID,name,city,state,enrollment,men,women,another_gender,american_indian_or_alaska_native,asian,black,hispanic,native_hawaiian_or_pacific_islander,white,two_or_more,unknown,nonresident
0,100654,Alabama A & M University,Normal,AL,6007,2369,3638,0,16,16,5136,63,8,119,66,473,110
1,100663,University of Alabama at Birmingham,Birmingham,AL,21639,7903,13736,0,36,1551,4590,1111,10,11055,825,985,1476
2,100690,Amridge University,Montgomery,AL,647,278,369,0,5,4,356,17,4,247,0,14,0
3,100706,University of Alabama in Huntsville,Huntsville,AL,9237,5333,3904,0,71,358,833,555,16,6342,354,347,361
4,100724,Alabama State University,Montgomery,AL,3828,1347,2481,0,8,12,3435,43,3,155,44,35,93

### Show me the highest enrollment NUMBER of a college in this dataset

I don't need the name of the college, just the number of students enrolled at the college with the most students.

### Show me the total enrollment added together across all of the colleges in this dataset

### Show me the median enrollment across all colleges in this dataset

### What is the total number of Black students across all colleges in this dataset?

### What is the total number of white students across all colleges in this dataset?

### Show me all of the colleges with more than 80,000 students enrolled

### List the names and states of the colleges where enrollment is above 100,000

### Show me the states of colleges where another_gender is more than 0, then perform a value_counts().

### Show me the colleges with highest enrollment of native_hawaiian_or_pacific_islander sorted in order from highest to lowest, and cliped to just the top 10 (use head(10)).

### Show me the colleges with highest enrollment of nonresidents sorted in order from highest to lowest, and cliped to just the top 10 (use head(10)).

### Show me the colleges with highest MEDIAN enrollment of Asian sorted in order from highest to lowest, and cliped to just the top 10 (use head(10)).

### Show me the MEDIAN enrollment of WOMEN by STATE sorted in order from highest to lowest.
Note, I don't need the names of individual colleges anymore, just the states.

### Same chart as above, except clip to the top 10 and make a horizontal bar chart

Don't worry about sorting from highest to lowest any more.